@import './partials/variables';
@import './partials/global';

// MARK: NAV BAR
// TODO: potentially move elsewhere
.nav-bar{
    background-color: $primary-dark;
    text-align: center;

    &__logo{
        padding-top: $padding-between-components-mobile;
    }

    &__menu{
        display: flex;
    }

    &__menu-item{
        color: $primary-white;
        text-decoration: none;
        flex: 1;
        padding: $padding-between-components-mobile;
        cursor: pointer;
    }

    &__item-selected{
        border: solid;
        border-width: 0 0 2px 0;
        border-color: $primary-white;
    }
}


// MARK: FOOTER
.footer{
    display: flex;
    flex-direction: column;
    background-color: $primary-dark;
    padding: 0 $padding-between-components-mobile $padding-between-components-mobile $padding-between-components-mobile;

    h1{
        color: $primary-white;
    }

    h3{
        color: $primary-white;
    }

    p{
        color: $primary-white;
    }

    &__social-container{
        display: flex;
        flex-shrink: 1;
        gap: $padding-between-components-mobile;
        padding-top: $padding-between-components-mobile;
    }

    &__logo{
        padding-top: calc(10*$base-spacing-multiple);
    }
}


// MARK: HERO
.hero{
    height: 40vh;
    background-image: url("../assets/Images/hero-bio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    &__title{
        color: $primary-white;
        font-size: $page-header-size-mobile;
        font-weight: $page-header-text-weight-mobile;
        line-height: $page-header-line-height-mobile;
        padding: $padding-between-components-mobile;
        position: relative;
        z-index: 2;
        top:40%;
    }

    &__overlay{
        position: absolute;
        background-color: black;
        opacity: $hero-opacity;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}


// MARK: ABOUT
.about{
    padding: 0 $padding-between-components-mobile $padding-between-components-mobile $padding-between-components-mobile;

    &__img{
        max-width: 100%;
        padding-top: $padding-between-components-mobile;
    }
}


// MARK: GALLERY
.gallery{
    display: flex;
    flex-direction: column;
    padding: 0 $padding-between-components-mobile $padding-between-components-mobile $padding-between-components-mobile;
    gap: $padding-between-components-mobile;
    background-color: $secondary-alabaster;
}