@import './partials/mixin';
@import './partials/variables';
@import './partials/font';
@import './partials/element_tags';
@import './partials/global_classes';

// MARK: HERO
.hero{
    background-image: url("../assets/Images/hero-bio.jpg");
}

// MARK: ABOUT
.about{
    padding: 0 $padding-between-components-mobile $padding-between-components-mobile $padding-between-components-mobile;

    @include tablet{
        padding: 0 $padding-between-components-desktop $padding-between-components-desktop $padding-between-components-desktop;
    }

    @include desktop{
        padding: 0 $padding-between-components-desktop*2 $padding-between-components-desktop*2 $padding-between-components-desktop*2;
    }

    &__inner-container{

        @include tablet{
            padding: 0 $padding-between-components-desktop*2;
        }

        @include desktop{
            padding: 0 $padding-between-components-desktop*4;
        }
    }

    &__img{
        max-width: 100%;
        padding-top: $padding-between-components-mobile;

        @include tablet{
            padding-top: $padding-between-components-desktop;
        }
    }

    &__paragraph-container{
        display: flex;
        flex-direction: column;

        @include tablet{
            flex-direction: row;
            gap: $padding-between-components-desktop;
        }
    }
}


// MARK: GALLERY
.gallery{
    padding: 0 $padding-between-components-mobile $padding-between-components-mobile $padding-between-components-mobile;
    background-color: $secondary-alabaster;

    @include tablet{
        padding: 0 $padding-between-components-desktop $padding-between-components-desktop $padding-between-components-desktop;
    }

    @include desktop{
        padding: 0 $padding-between-components-desktop*2 $padding-between-components-desktop*2 $padding-between-components-desktop*2;
    }


    &__photos{
        display: flex;
        flex-direction: column;
        gap: $padding-between-components-mobile;
        padding-top: $padding-between-components-mobile;

        @include tablet{
            max-width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-gap: $padding-between-components-desktop;
            padding-top: $padding-between-components-desktop;
        }
    }


    &__item{
        
        @include tablet{
            max-width: 100%;
        }
    }
}
