@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: bold;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: bold;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  padding-top: 24px;
}
@media (min-width: 768px) {
  h1 {
    font-weight: 700;
    font-size: 60px;
    padding-top: 48px;
  }
}

h2 {
  font-weight: 700;
  font-size: 24px;
  padding-top: 24px;
}
@media (min-width: 768px) {
  h2 {
    font-weight: 700;
    font-size: 36px;
    padding-top: 48px;
  }
}

h3 {
  font-weight: 600;
  font-size: 14px;
  padding-top: 24px;
}
@media (min-width: 768px) {
  h3 {
    font-weight: 600;
    font-size: 24px;
    padding-top: 48px;
  }
}

p {
  font-size: 13px;
  font-weight: 400;
  padding-top: 16px;
}
@media (min-width: 768px) {
  p {
    font-size: 14px;
    font-weight: 400;
    padding-top: 36px;
  }
}

.icon {
  height: 30px;
}

.logo {
  width: 120px;
  height: 20px;
}

.text-bold {
  font-weight: 700;
}

.nav-bar {
  background-color: #323232;
  text-align: center;
}
@media (min-width: 768px) {
  .nav-bar {
    text-align: left;
    display: flex;
  }
}
.nav-bar__logo {
  padding-top: 16px;
}
@media (min-width: 768px) {
  .nav-bar__logo {
    padding: 36px;
  }
}
@media (min-width: 1280px) {
  .nav-bar__logo {
    padding: 36px 72px 36px 72px;
  }
}
.nav-bar__menu {
  display: flex;
}
@media (min-width: 768px) {
  .nav-bar__menu {
    flex: 3;
    gap: 36px;
    align-items: center;
  }
}
.nav-bar__menu-item {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  flex: 1;
  padding: 16px;
}
@media (min-width: 768px) {
  .nav-bar__menu-item {
    flex: 0;
    padding: 0;
    align-self: stretch;
    margin-top: 36px;
  }
}
.nav-bar__item-selected {
  border: solid;
  border-width: 0 0 2px 0;
  border-color: #ffffff;
}

.hero {
  height: 40vh;
  background-image: url("../assets/Images/hero-bio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
}
@media (min-width: 1280px) {
  .hero {
    height: 35vh;
  }
}
.hero__title {
  color: #ffffff;
  padding: 16px;
  margin: auto 0;
  position: relative;
  z-index: 2;
}
@media (min-width: 768px) {
  .hero__title {
    padding: 36px;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    padding: 0 72px;
  }
}
.hero__overlay {
  position: absolute;
  background-color: black;
  opacity: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.about {
  padding: 0 16px 16px 16px;
}
@media (min-width: 768px) {
  .about {
    padding: 0 36px 36px 36px;
  }
}
@media (min-width: 1280px) {
  .about {
    padding: 0 72px 72px 72px;
  }
}
@media (min-width: 768px) {
  .about__inner-container {
    padding: 0 72px;
  }
}
@media (min-width: 1280px) {
  .about__inner-container {
    padding: 0 144px;
  }
}
.about__img {
  max-width: 100%;
  padding-top: 16px;
}
@media (min-width: 768px) {
  .about__img {
    padding-top: 36px;
  }
}
.about__paragraph-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .about__paragraph-container {
    flex-direction: row;
    gap: 36px;
  }
}

.gallery {
  padding: 0 16px 16px 16px;
  background-color: #fafafa;
}
@media (min-width: 768px) {
  .gallery {
    padding: 0 36px 36px 36px;
  }
}
@media (min-width: 1280px) {
  .gallery {
    padding: 0 72px 72px 72px;
  }
}
.gallery__photos {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 16px;
}
@media (min-width: 768px) {
  .gallery__photos {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 36px;
    padding-top: 36px;
  }
}
@media (min-width: 768px) {
  .gallery__item {
    max-width: 100%;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #323232;
  padding: 0 16px 16px 16px;
}
@media (min-width: 768px) {
  .footer {
    padding: 0 36px 36px 36px;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 0 72px 72px 72px;
  }
}
.footer h1 {
  color: #ffffff;
}
.footer h3 {
  color: #ffffff;
}
.footer p {
  color: #ffffff;
}
@media (min-width: 768px) {
  .footer__title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 36px;
  }
}
.footer__social-container {
  display: flex;
  flex-shrink: 1;
  gap: 16px;
  padding-top: 16px;
}
@media (min-width: 768px) {
  .footer__social-container {
    gap: 36px;
    padding-top: 56px;
  }
}
.footer__card-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__card-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 36px;
  }
}
@media (min-width: 768px) {
  .footer__card {
    flex: 1;
  }
}
.footer__card a {
  text-decoration: none;
}
.footer__logo {
  padding-top: 40px;
}/*# sourceMappingURL=bio.css.map */