@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: bold;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: bold;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 1.5rem;
  padding-top: 1.5rem;
}
@media (min-width: 768px) {
  h1 {
    font-weight: 700;
    font-size: 3.75rem;
    padding-top: 3rem;
  }
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
  padding-top: 1.5rem;
}
@media (min-width: 768px) {
  h2 {
    font-weight: 700;
    font-size: 2.25rem;
    padding-top: 3rem;
  }
}

h3 {
  font-weight: 600;
  font-size: 0.875rem;
  padding-top: 1.5rem;
}
@media (min-width: 768px) {
  h3 {
    font-weight: 600;
    font-size: 1.5rem;
    padding-top: 3rem;
  }
}

p {
  font-size: 0.812rem;
  font-weight: 400;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  p {
    font-size: 0.875rem;
    font-weight: 400;
    padding-top: 2.25rem;
  }
}

label {
  text-transform: uppercase;
  color: #afafaf;
  font-size: 0.812rem;
}
@media (min-width: 768px) {
  label {
    font-size: 0.875rem;
    font-weight: 400;
  }
}

input {
  font-family: "Avenir Next", sans-serif;
  background-color: #fafafa;
  border: 1px solid #afafaf;
  border-radius: 4px;
  outline: none;
  font-size: 0.812rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  input {
    font-size: 0.875rem;
    font-weight: 400;
  }
}

input:focus {
  border-color: #323232;
}

textarea {
  font-family: "Avenir Next", sans-serif;
  background-color: #fafafa;
  border: 1px solid #afafaf;
  border-radius: 4px;
  outline: none;
  font-size: 0.812rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  textarea {
    font-size: 0.875rem;
    font-weight: 400;
  }
}

textarea:focus {
  border-color: #323232;
}

.nav-bar {
  background-color: #323232;
  text-align: center;
}
@media (min-width: 768px) {
  .nav-bar {
    text-align: left;
    display: flex;
  }
}
.nav-bar__logo {
  width: 7.5rem;
  height: 1.25rem;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .nav-bar__logo {
    margin-top: 0;
    padding: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .nav-bar__logo {
    padding: 2.25rem 4.5rem 2.25rem 4.5rem;
  }
}
.nav-bar__menu {
  display: flex;
}
@media (min-width: 768px) {
  .nav-bar__menu {
    flex: 3;
    gap: 2.25rem;
    align-items: center;
  }
}
.nav-bar__menu-item {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  flex: 1;
  padding: 1rem;
}
.nav-bar__menu-item--selected {
  border: solid;
  border-width: 0 0 0.125rem 0;
  border-color: #ffffff;
}
@media (min-width: 768px) {
  .nav-bar__menu-item {
    flex: 0;
    padding: 0;
    align-self: stretch;
    margin-top: 2.25rem;
  }
}

.hero {
  aspect-ratio: 2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  padding: 2rem 1rem;
}
@media (min-width: 768px) {
  .hero {
    padding: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    flex-direction: row;
    align-items: center;
    padding: 0 4.5rem;
  }
}
.hero__title-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;
}
@media (min-width: 1280px) {
  .hero__title-container {
    flex: 1;
  }
}
.hero__title {
  color: #ffffff;
  padding-top: 0;
  position: relative;
  z-index: 1;
}
@media (min-width: 1280px) {
  .hero__title {
    padding-top: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .hero__iframe {
    flex: 1;
    flex-grow: 1;
    margin-top: 6.75rem;
  }
}
.hero__overlay {
  position: absolute;
  background-color: black;
  opacity: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #323232;
  padding: 0 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .footer {
    padding: 0 2.25rem 2.25rem 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 0 4.5rem 4.5rem 4.5rem;
  }
}
.footer__heading {
  color: #ffffff;
}
.footer__card-heading {
  color: #ffffff;
}
.footer__text {
  color: #ffffff;
}
.footer__link {
  color: #ffffff;
  text-decoration: none;
}
@media (min-width: 768px) {
  .footer__title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.25rem;
  }
}
.footer__social-container {
  display: flex;
  flex-shrink: 1;
  gap: 1rem;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .footer__social-container {
    gap: 2.25rem;
    margin-top: 3.5rem;
  }
}
.footer__card-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__card-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 2.25rem;
  }
}
@media (min-width: 768px) {
  .footer__card {
    flex: 1;
  }
}
.footer__logo {
  width: 7.5rem;
  height: 1.25rem;
  margin-top: 2.5rem;
}

.icon {
  height: 1.875rem;
}

.btn {
  width: 100%;
  height: 2.5rem;
  border-radius: 0.25rem;
  border: none;
  color: #ffffff;
  background-color: #323232;
  text-transform: uppercase;
  cursor: pointer;
}
@media (min-width: 768px) {
  .btn {
    width: 9.375rem;
  }
}

.text-bold {
  font-weight: 700;
}

.hero {
  background-image: url("../assets/Images/hero-shows.jpg");
}
.hero__iframe {
  z-index: 1;
}

.shows {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
@media (min-width: 1280px) {
  .shows {
    flex-direction: row;
  }
}
.shows__title {
  padding: 1rem 1rem 0.5rem 1rem;
}
@media (min-width: 768px) {
  .shows__title {
    padding: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .shows__title {
    padding: 2.25rem 4.5rem;
  }
}
.shows__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
@media (min-width: 768px) {
  .shows__container {
    padding: 0 1.125rem 0 1.125rem;
  }
}
@media (min-width: 1280px) {
  .shows__container {
    padding: 4.5rem 4.5rem 2.25rem 0;
  }
}
.shows__title-card {
  display: none;
  padding: 0 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .shows__title-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0;
  }
}
.shows__title-filler {
  flex: 1;
}
.shows__card {
  padding: 0 1rem 1rem 1rem;
  cursor: pointer;
}
@media (min-width: 768px) {
  .shows__card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
}
.shows__card:hover {
  background-color: #fafafa;
}
.shows__divider {
  height: 1px;
  background-color: #afafaf;
}
.shows__card-title {
  flex: 1;
  text-transform: uppercase;
  color: #afafaf;
}
@media (min-width: 768px) {
  .shows__card-title {
    display: none;
  }
}
.shows__card-title--header {
  display: flex;
  flex: 1;
  text-transform: uppercase;
  color: #afafaf;
  padding-top: 0;
}
.shows__card-text {
  flex: 1;
  padding-top: 0.3333333333rem;
}
.shows__card-date {
  flex: 1;
  font-weight: 600;
  padding-top: 0.3333333333rem;
}
.shows__card-btn {
  flex: 1;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .shows__card-btn {
    margin-top: 0;
  }
}/*# sourceMappingURL=shows.css.map */